:root {
   --radius: 10px;
   --userfont: roboto-st, sans-serif;
}

@font-face { src: url("./fonts/roboto-regular-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("./fonts/roboto-bold-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: normal; }

body {
   font-family: var(--userfont);
}

.app-wrap {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 15px;
}

main {
   padding: 15px 0;
}

.wrapBtn {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}
.btn {
   background: gray;
   border: 1px solid #000;
   border-radius: var(--radius);
   padding: 10px 15px;
   min-width: 200px;
   color: #fff;
   cursor: pointer;
   transition: all .25s ease;
   margin-top: 10px;
   margin-bottom: 10px;
}
.btn:hover {
   background: #fff;
   color: #000;
}
.btn:active {
   background-color: yellow;
}

.btn.disabled {
   opacity: .3;
}
.btn.disabled:hover {
   background: gray;
   color: #fff;
}

p {
   padding: 5px 0;
}

input {
   border: 1px solid black;
   border-radius: var(--radius);
   background-color: #fff;
   padding: 10px 15px;
}
input:hover {
   background-color: gray;
}
input:hover::placeholder {
   color: #fff;
}
input:focus {
   background-color: yellow;
   color: black;
}
input:focus::placeholder {
   color: black
}

.infoText {
   font-size: .9rem;
   color:brown;
   text-align: center;
   padding-top: 10px;
}

